.page2-container {
  position: absolute;
  top: 0px;
  left: 1440px;
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto; */
  background-color: rgb(63, 79, 83);
  padding: 0px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-x: scroll;
}
.columnII {
  background-color: rgba(63, 79, 83, 0.8);
  border: 20px solid rgba(63, 79, 83, 0.8);
  /* border: 20px; */
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

#column6 {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
}
#Open_o {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/OPEN_o.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Open_p {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/OPEN_p.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Open_e {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/OPEN_e.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Open_n {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/OPEN_n.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column7 {
  grid-column: 5 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
}
#The_t {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/THE_t.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#The_h {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/THE_h.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#The_e {
  width: 180px;
  height: 170px;
  background-image: url("img/P2/THE_e.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column8 {
  grid-column: 1 / span 2;
  grid-row: 2;
  /*space holder*/
}

#column12 {
  grid-column: 2 / span 4;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}
#Lid_l {
  width: 320px;
  height: 185px;
  background-image: url("img/P2/LID_l.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Lid_i {
  width: 320px;
  height: 185px;
  background-image: url("img/P2/LID_i.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Lid_d {
  width: 320px;
  height: 185px;
  background-image: url("img/P2/LID_d.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column9 {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
}
#Of_o {
  position: relative;
  top: 20px;
  width: 150px;
  height: 120px;
  background-image: url("img/P2/OF_o.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Of_f {
  position: relative;
  top: 20px;
  width: 150px;
  height: 120px;
  background-image: url("img/P2/OF_f.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column10 {
  grid-column: 3 / span 4;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
}
#Your_y {
  width: 240px;
  height: 170px;
  background-image: url("img/P2/YOUR_y.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Your_o {
  width: 240px;
  height: 170px;
  background-image: url("img/P2/YOUR_o.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Your_u {
  width: 240px;
  height: 170px;
  background-image: url("img/P2/YOUR_u.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Your_r {
  width: 240px;
  height: 170px;
  background-image: url("img/P2/YOUR_r.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column11 {
  grid-column: 2 / span 4;
  grid-row: 4;
  display: flex;
  justify-content: space-around;
}
#Candle_c2 {
  width: 155px;
  height: 218px;
  background-image: url("img/P1/P1_CANDLE_c.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Candle_a2 {
  width: 155px;
  height: 218px;
  background-image: url("img/P1/P1_CANDLE_a.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Candle_n2 {
  width: 155px;
  height: 218px;
  background-image: url("img/P1/P1_CANDLE_n.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Candle_d2 {
  width: 155px;
  height: 218px;
  background-image: url("img/P1/P1_CANDLE_d.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Candle_l2 {
  width: 155px;
  height: 218px;
  background-image: url("img/P1/P1_CANDLE_l.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Candle_e2 {
  width: 155px;
  height: 218px;
  background-image: url("img/P1/P1_CANDLE_e.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column13 {
  grid-column: 1 / span 1;
  grid-row: 4;
  /*space holder*/
}
