.page7-container {
  position: absolute;
  top: 0px;
  left: 8690px;
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto; */
  background-color: rgb(255, 255, 255);
  padding: 0px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-x: scroll;
}

.columnVII {
  background-color: rgba(255, 255, 255 0.8);
  border: 20px solid rgba(255, 255, 255, 0.8);
  /* border: 20px; */
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

#column48 {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: start;
}
#Put_p {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/PUT_p.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Put_u {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/PUT_u.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Put_t {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/PUT_t.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column49 {
  grid-column: 1 / span 4;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  /*space holder*/
}

#column50 {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: start;
}
#Out_o {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/OUT_o.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Out_u {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/OUT_t.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Out_t {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/OUT_u.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column51 {
  grid-column: 3 / span 1;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  /*space holder*/
}

#column52 {
  grid-column: 5 / span 3;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}
#A_a2 {
  width: 480px;
  height: 130px;
  background-image: url("img/P7/A_a.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column53 {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: flex;
  justify-content: start;
}
#The_t4 {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/THE_t.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#The_h4 {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/THE_h.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#The_e4 {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/THE_e.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column54 {
  grid-column: 3 / span 4;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  /*space holder*/
}

#column55 {
  grid-column: 1 / span 3;
  grid-row: 4;
  display: flex;
  justify-content: start;
}
#Fire_f {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/FIRE_f.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Fire_i {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/FIRE_i.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Fire_r {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/FIRE_r.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Fire_e {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/FIRE_e.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column56 {
  grid-column: 5 / span 4;
  grid-row: 4;
  display: flex;
  justify-content: space-around;
}
#Stick_s {
  width: 90px;
  height: 130px;
  background-image: url("img/P7/STICK_S.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Stick_t {
  width: 90px;
  height: 130px;
  background-image: url("img/P7/STICK_t.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Stick_i {
  width: 90px;
  height: 130px;
  background-image: url("img/P7/STICK_i.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Stick_c {
  width: 90px;
  height: 130px;
  background-image: url("img/P7/STICK_c.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#Stick_k {
  width: 90px;
  height: 130px;
  background-image: url("img/P7/STICK_k.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column57 {
  grid-column: 1 / span 3;
  grid-row: 5;
  display: flex;
  justify-content: start;
}
#With_w {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/WITH_w.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#With_i {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/WITH_i.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#With_t {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/WITH_t.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}
#With_h {
  width: 130px;
  height: 130px;
  background-image: url("img/P7/WITH_h.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 0, 128);
  background-blend-mode: lighten;
  opacity: 0.8;
}

#column58 {
  grid-column: 5 / span 4;
  grid-row: 5;
  display: flex;
  justify-content: space-around;
  /*space holder*/
}
